/* ================================= 
全局设置
==================================== */
* {
    box-sizing: border-box; /*让内边距无法改变盒模型的长宽*/
    list-style: none;    /*去除ul的小圆点*/
    text-decoration: none; /*去除超链接的下划线*/
}
/* ================================= 
移动优先CSS规则
==================================== */
.main-header {
    text-align: center;
    background-color:skyblue;
}
.logo {
    margin: 2px;  /*重置logo的外边距*/
}

.logo a:hover {
    text-shadow: 1px 1px 1px blak;
    transition: .3s;
}

.logo a {
    padding: 1em 0;  /*改变logo的上下内边距*/
}

.navlist li a {
    padding: 0.5em 0;   /*改变导航条超链接的上下内边距*/
}

/*当鼠标移动到导航项目时，改变背景颜色*/
.navlist li a:hover {
    background-color:lightpink;
    transition: .3s;
    text-shadow: 1px 1px 1px white;
    
}

a {
    /*将所有超链接变成块级元素block(超链接默认的显示方式是线级元素inline)*/
    display:block;
    color: dodgerblue;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: lawngreen;
    color: white;
}

.wrap {
    min-height: calc(100vh - 54px);
}

.banner {
    background: url("../images/timg.jpeg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 1em 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow:1px 1px 1px blue;
}

h1, h2 {
    margin: 0;
    
}
.banner h1:hover,h2:hover{
    color: greenyellow;
    transition: 0.2s;
    text-shadow:1px 1px 1px skyblue; 
}

h2 {
    padding-top: 1em;
}
.container{
    margin: auto;
    

     /*border: 1px solid black;*/
}
.col{
    padding: 1em;
    background-color: khaki;
    color: black;
    font-family: '幼圆'；
    
    /*border: 1px solid black;*/
}
.beijinggushi {
    background-color: deepskyblue;
      color: white;
}
.wodekoudai {
    background-color: aqua;
      color: white;
}
.guanlianzuopin {
    background-color: aquamarine;
    color: white;
}



/* ================================= 
媒体查询:700px宽
==================================== */
@media (min-width:700px) {
    .main-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .navlist {
        display: flex;
        align-items: stretch;

    }
    
    .navlist li a {
        padding: 2em 2em;
        
    }
    
    .banner {
        height: 500px;
    }
    .container {
        width: 90%;
        display: flex;
        padding: 3em 0;

        
    }
    .col {
        flex-basis: 30%;
        flex-grow: 1;
        margin:  0 1em;
        border-radius: 10px;/*圆角*/
    }
    .col:hover {
        box-shadow:  1px 1px 1px rgba(0,0,0,.5);
        transition: 0.3s;
        cursor: default;
    }
}







